<%- include('../template/head') -%>
<%- include('../template/nav') -%>
<div>
    <div class="container">
        <h2>Mantente organizado con Taskit</h2>
        <button>Comienza ahora</button>
    </div>
</div>
<%- include('../template/footer') -%>